[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sh -c 'cd /home/pi/V10;sleep 5;lxterminal --geometry=72x15 -e sudo sh ejecutar_DMRPLUS.sh'
Icon=/home/pi/V10/ICONO_DMRPLUS_OFF.png
Name[es_ES]=Abrir DMR+


